/* Reset some default styles */
body, h1, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Candara', sans-serif;
    color: rgb(73, 84, 100);
}

body {
    background-color: rgb(244, 244, 242);
}

p {
    max-width: 500px; /* Adjust as needed depending on the font and size */
    font-family: 'Candara', sans-serif; /* Use a common font */
    font-size: 18px; /* Adjust size accordingly */
}  

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid rgb(73, 84, 100);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(232, 232, 232);
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: rgb(73, 84, 100);
    font-size: 22px;
    transition: color 0.3s;
}

/* nav li a:hover {
    color: gray;
} */

/* Main Content */
main {
    margin-top: 70px;  /* Give space for the fixed header */
    display: flex;
    flex-direction: column;
    align-items: center;  /* This should center all child items */
}

#company-logo {
    width: 400px;
    height: auto;
}

#company-logo-slim {
    width: 300px;
    height: auto;
    max-height: 120px;
}

.inspirational {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.inspirational img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(244, 244, 242);
    background-color: rgba(73, 84, 100, 0.8);
    padding: 20px 20px;
    border-radius: 10px;
}

.overlay-text p {
    margin: 0;
}

.overlay-text button {
    padding: 10px 15px;
    background-color: rgb(244, 244, 242);
    color: rgb(73, 84, 100);
    border: none;
    border-radius: 5px;
    cursor: auto;
    width: auto; /* This ensures that the button does not stretch */
    display: block; /* This will make sure the button only takes up the space it needs */
    margin: 10px auto;
}

.overlay-text a {
    color: rgb(73, 84, 100);
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

.content-container {
    max-width: 100%; /* This can be adjusted according to your site design */
    margin: 0 auto; /* This centers the container */
    padding: 0 40px; /* 40px padding on the left and right */
}

/* Serving the Pacific Northwest section */
.serving {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
    width: 100%; 
    padding: 40px 0; /* Only padding top and bottom */
    max-height: 600px;
    overflow: hidden;
    margin-top: 40px;
    background-color: transparent;
    border-radius: 10px;
}

.serving::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0; /* Adjusted to align with container padding */
    right: 0; /* Adjusted to align with container padding */
    bottom: 0;
    background-image: url('artifacts/marble_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 10px;
}


.dave-portrait {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: 0 auto 20px auto; /* 20px bottom margin for padding effect */
}

.serving-content {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    color: rgb(73, 84, 100);
    margin-bottom: 20px; /* 20px bottom margin for padding effect */
    box-sizing: border-box;
    overflow: auto;
}

.text-background {
    background-color: rgba(244, 244, 242, 0.8);
    border-radius: 10px;
    padding: 20px; /* To give some space around text */
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0; /* Only padding top and bottom */
}

.info-section .text-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.info-section img {
    flex: 1;
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.info-section button {
    padding: 10px 15px;
    background-color: rgb(73, 84, 100);
    color: rgb(244, 244, 242);
    border: none;
    border-radius: 5px;
    cursor: auto;
    width: auto; /* This ensures that the button does not stretch */
    display: block; /* This will make sure the button only takes up the space it needs */
    margin: 10px auto;
}

.info-section a {
    color: rgb(244, 244, 242);
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

.wall-coverings-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1260px;
    margin: 0 auto;
    padding: 15px 0;
}

.wall-coverings.grid-view {
    max-width: 1260px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 200px));
    gap: 10px;
    padding: 15px 15px;
    overflow-x: hidden;
    margin: 0 auto;
}

.wall-coverings.carousel-view {
    display: none; /* Hide carousel view by default on larger screens */
}

.wall-covering-description {
    flex: 1;
    padding: 40px 20px 20px 40px;
    box-sizing: border-box;
}

.grid-item {
    width: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: -8px 8 16px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 250ms, box-shadow 250ms;
    aspect-ratio: 1 / 1;  
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(244, 244, 242);

    &:hover {
        transform: rotate(3deg) scale(1.05);
        z-index: 1;
        box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.5);
    }

    &.selected {
        border: 10px solid rgb(187, 191, 202);
        width: calc(200px - 20px);
        outline: 10px solid transparent;
    }
}

.grid-item span {
    padding: 5px 10px;
    background-color: rgb(244, 244, 242);
    border-radius: 8px;
    color: black;
}

.grid-item:nth-child(1) {
    background-image: url('artifacts/residential_square.jpg');
}

.grid-item:nth-child(2) {
    background-image: url('artifacts/commercial_square.jpg');
}

.grid-item:nth-child(3) {
    background-image: url('artifacts/fabric_square.jpg');
}

.grid-item:nth-child(4) {
    background-image: url('artifacts/mural_square.jpg');
}

.grid-item:nth-child(5) {
    background-image: url('artifacts/sisal_square.jpg');
}

.grid-item:nth-child(6) {
    background-image: url('artifacts/whiteboard_square.jpg');
}

.grid-item:nth-child(7) {
    background-image: url('artifacts/wood_square.jpg');
}

.grid-item:nth-child(8) {
    background-image: url('artifacts/panel_square.jpg');
}

.grid-item:nth-child(9) {
    background-image: url('artifacts/foil_square.jpg');
}

/* .grid-item:hover {
    background-color: #f0f0f0;
} */

/*
ABOUT PAGE'S CSS
*/
/* Styling for the about section */
.about {
    display: flex;             /* This sets up a flexbox layout */
    justify-content: center;   /* This centers the items horizontally within the flex container */
    align-items: center;       /* This centers the items vertically within the flex container */
    padding-top: 50px;         /* Add top padding */
    padding-bottom: 50px;      /* Add bottom padding */
}

.dave-portrait {
    width: 40%;                /* Sets the width for the portrait, you can adjust this */
    margin-right: 20px;       /* Adds some spacing between the image and the content */
}

.about-content {
    width: 600px;                /* Sets the width for the content, adjust as per your preference */
}

.text-background {
    padding: 15px;             /* Adds some padding to the textual content for better spacing */
    background-color: rgba(244, 244, 242, 0.7); /* Optional: If you want a semi-transparent background for better text readability */
}

/* Adjusting h2 and p for finer typography details, adjust as per your design */
.about-content h2 {
    margin-top: 0;
}

.about-content p {
    margin-bottom: 1em;
}


/*
CONTACT SECTION
*/
.contact-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.contact-info, .contact-form {
    flex: 1;
    padding: 30px;
    display: flex; /* Enables flexbox */
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    margin: 30px;
}

.contact-info-content {
    text-align: left;
    margin-right: auto;
    width: 100%;    /* Takes up full width */
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-form {
    background-color: rgb(232, 232, 232); /* Slightly darker background with a touch of opacity */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Elevation shadow */
    padding: 10px; /* Increased padding for better appearance */
    border-radius: 5px; /* Slight rounding of corners */
}

.contact-form form {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
}

/* To make the email, preferred contact, details, and button take full width */
.contact-form label, #preferred-contact, #email, #details, button {
    grid-column: span 2;
}

/* Container for radio buttons */
#preferred-contact {
    display: flex;
    flex-direction: column; /* Change to row orientation */
    gap: 10px; /* Adjust for horizontal space between radio groups */
    flex-wrap: wrap; /* If the width is limited, they will move to the next line */
    margin-bottom: 10px;
}

.radio-group {
    display: flex; /* This will make sure each radio button and its label are side-by-side */
    align-items: center; /* This will ensure they're vertically aligned in the center */
}

.radio-group input[type="radio"] {
    margin-right: 10px; /* Adjust this value as needed */
}

/* Add rounded edges to input boxes and textarea */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    border-radius: 5px; /* adjust as per your preference */
    border: 1px solid #ccc; /* This will add a slight border; you can adjust or remove as needed */
    padding: 5px 10px; /* giving some inner padding for better aesthetics */
}

/* Adjust the "Craft Email" button */
button {
    padding: 10px 15px;
    background-color: rgb(73, 84, 100);
    color: rgb(244, 244, 242);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* This ensures that the button does not stretch */
    display: block; /* This will make sure the button only takes up the space it needs */
    margin: 10px auto;
}

button:hover {
    background-color: rgb(187, 191, 202);
}

footer, footer *, footer *::before, footer *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Footer */
footer {
    padding: 10px;
    background-color: rgb(232, 232, 232);
    border-top: 2px solid rgb(73, 84, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* You can adjust this to your liking */
}

#company-logo {
    margin-bottom: 5px;
    max-width: 100%; /* ensure logo doesn't overflow */
    display: block;
}

.footer-contact-info p {
    text-align: center;
    margin-bottom: 3px;
}

footer > p {
    margin-top: 5px; 
}

/* ... existing CSS ... */

/* Responsive styles for screens less than or equal to 768 pixels */
@media only screen and (max-width: 768px) {

    /* Navigation */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    /* Header */
    header {
        flex-direction: column;
        padding: 5px 10px;
    }

    /* Main Content */
    main {
        margin-top: 90px; /* Adjust space for modified header */
    }

    /* Adjust logo sizes */
    #company-logo, #company-logo-slim {
        width: 200px;
    }

    /* Serving the Pacific Northwest section */
    .serving {
        grid-template-columns: 1fr;
        padding: 20px 0;
    }

    .serving::before {
        display: none; /* Hide the background on mobile for better readability */
    }

    .dave-portrait {
        width: 80%;
    }

    .serving-content {
        width: 100%;
    }

    /* Info Section */
    .info-section {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .info-section .text-content, .info-section img {
        flex: none; /* Resetting to default */
        max-width: 100%;
    }

    /* Wall coverings section */
    .wall-coverings-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .wall-coverings.grid-view {
        display: none; /* Hide the grid view on mobile */
    }
      
    .wall-coverings.carousel-view {
        display: flex;
        overflow-x: auto;
        -ms-overflow-style: none; /* Hide the scrollbar for MS Edge */
        scrollbar-width: none; /* Hide the scrollbar for Mozilla Firefox */

        margin: 0 auto 0 auto;
        width: 90vw;
        height: fit-content;
    }

    .wall-coverings.carousel-view::-webkit-scrollbar {
        display: none; /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
        -webkit-overflow-scrolling: touch; /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
    }

    .wall-coverings.carousel-view .grid-item {
        width: 120px;
        height: 0;
        padding-bottom: 100%;
        box-shadow: -8px 8 16px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        color: rgb(244, 244, 242);
    }

    .wall-coverings.carousel-view .grid-item span {
        font-size: 12px;
        padding: 5px 10px;
        background-color: rgb(244, 244, 242);
        border-radius: 8px;
        color: black;
    }


    /* About Page's CSS */
    .about {
        flex-direction: column;
        gap: 20px;
    }

    .dave-portrait {
        margin-right: 0;
        width: 100%;
    }

    .about-content {
        width: 100%;
    }

    /* Contact Section */
    .contact-us {
        flex-direction: column;
        gap: 20px;
    }

    .contact-info, .contact-form {
        margin: 0;
    }

    .contact-form form {
        grid-template-columns: 1fr;
    }

}
