html {
    font-size: 16px;
}

.menu-collapse {
    font-size: 1rem;
    letter-spacing: 0px;
}

.u-nav-link {
    padding: 10px 20px;
}

.u-nav-link.u-text-active-palette-1-base.u-text-hover-palette-2-base {
    padding: 10px 20px;
}

.u-black.u-menu-overlay {
    opacity: 0.7;
}

.u-black.u-container-style.u-inner-container-layout.u-opacity.u-opacity-95.u-sidenav {
    opacity: 0.95;
}
