/* Reset some default styles */
body, h1, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Candara', sans-serif;
}

p {
    max-width: 500px; /* Adjust as needed depending on the font and size */
    font-family: 'Candara', sans-serif; /* Use a common font */
    font-size: 18px; /* Adjust size accordingly */
}  

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    transition: color 0.3s;
}

nav li a:hover {
    color: gray;
}

/* Main Content */
main {
    margin-top: 70px;  /* Give space for the fixed header */
    display: flex;
    flex-direction: column;
    align-items: center;  /* This should center all child items */
}

#company-logo {
    width: 400px;
    height: auto;
}

#company-logo-slim {
    width: 300px;
    height: auto;
    max-height: 120px;
}

.inspirational {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.inspirational img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(230, 230, 230);
    background-color: rgba(22, 22, 22, 0.6);
    padding: 20px 20px;
    border-radius: 10px;
}

.overlay-text p {
    margin: 0;
}

/* Serving the Pacific Northwest section */
.serving {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; 
    gap: 20px;
    position: relative;
    width: 100%;
    padding: 40px;
    background-image: url('artifacts/marble_wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 600px;
    overflow: hidden;
    margin-top: 40px; 
}

.dave-portrait {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.serving-content {
    width: 100%;
    background-color: rgba(22, 22, 22, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: rgb(230, 230, 230);
}


.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 40px;
}

.info-section .text-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.info-section img {
    flex: 1;
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.wall-coverings {
    max-width: 1260px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 200px));
    gap: 10px;
    padding: 15px 15px;
    overflow-x: hidden;
    margin: 0 auto;
}

.grid-item {
    width: 200px;
    width: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: -8px 8 16px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: transform 250ms, box-shadow 250ms;

    /* Ensuring square shape */
    aspect-ratio: 1 / 1;  /* This property is supported in modern browsers to enforce aspect ratios */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;  /* Setting text color to white for better visibility */

    /* Hover effect */
    &:hover {
        transform: rotate(3deg) scale(1.05);  /* Rotate and slightly scale up */
        z-index: 1;  /* Ensure hovered item is above others */
        box-shadow: -8px 8px 16px rgba(0, 0, 0, 0.5);  /* Enhanced shadow for depth */
    }
}

/* Styling for the text bubble effect */
.grid-item span {
    padding: 5px 10px;  /* Padding around the text */
    background-color: rgba(255, 255, 255, 0.7);  /* Semi-transparent white background */
    border-radius: 8px;  /* Rounded corners for the bubble effect */
    color: black;
}
.grid-item:nth-child(1) {
    background-image: url('artifacts/residential_square.jpg');
}

.grid-item:nth-child(2) {
    background-image: url('artifacts/commercial_square.jpg');
}

.grid-item:nth-child(3) {
    background-image: url('artifacts/fabric_square.jpg');
}

.grid-item:nth-child(4) {
    background-image: url('artifacts/mural_square.jpg');
}

.grid-item:nth-child(5) {
    background-image: url('artifacts/sisal_square.jpg');
}

.grid-item:nth-child(6) {
    background-image: url('artifacts/whiteboard_square.jpg');
}

.grid-item:nth-child(7) {
    background-image: url('artifacts/wood_square.jpg');
}

.grid-item:nth-child(8) {
    background-image: url('artifacts/panel_square.jpg');
}

.grid-item:nth-child(9) {
    background-image: url('artifacts/foil_square.jpg');
}

/* .grid-item:hover {
    background-color: #f0f0f0;
} */

/* Footer */
footer {
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}
